<section>
<h1>Flavors</h1>
<div class="all-teas-cnt">
{{#each data}}
<div class="tea-cnt">
<div class="tea-name tea-name-margin">{{this.flavor_name}}</div>
<div class="tea-info">
<div>{{this.teas}}</div>
</div>
</div>
{{/each}}
<div>
</section>

