<section>
<h1>Message Board</h1>
<p>Sit back, enjoy a cup of tea, and share your thoughts in this public message board!</p>
<h2>{{tea_name}}</h2>
{{#each data}}
<div class="random_tea semi-bold-titles">
<strong>Date:</strong> {{this.date}}<br>
<strong>Name:</strong> {{this.name}}<br>
<strong>Entry:</strong> {{this.comment}}<br>
</div>
{{/each}}
</section>