<section>
<h1>Tea For Every Mood</h1>
<p>Select your mood to receive a tea suggestion based on how you are feeling.</p>
<div class="random_tea">
<p class="mood-result">Try a cup of <strong>{{data}}</strong> tea!</p>
</div>
</section>