<section>
<h1>Tea For Every Mood</h1>
<p>Select your mood to receive a tea suggestion based on how you are feeling.</p>
<form action="/mood_submit" method="post">
<div class="random_tea">
<label for="mood">How are you feeling today?</label>
<select name="mood" id="mood">
<option value="Happy">Happy</option>
<option value="Sad">Sad</option>
<option value="Anxious">Anxious</option>
<option value="Excited">Excited</option>
<option value="Calm">Calm</option>
<option value="Frustrated">Frustrated</option>
<option value="Hopeful">Hopeful</option>
<option value="Nostalgic">Nostalgic</option>
<option value="Overwhelmed">Overwhelmed</option>
<option value="Content">Content</option>
<option value="Curious">Curious</option>
<option value="Grateful">Grateful</option>
<option value="Irritated">Irritated</option>
<option value="Pensive">Pensive</option>
<option value="Energized">Energized</option>
<option value="Restless">Restless</option>
</select>
</div>
<p><button type="submit">Submit</button></p>
</form>
</section>