<section>
<h1>Rate Teas</h1>
<p>Loved your last cup? Never want to drink it again? Share your ratings!</p>
<div class="random_tea">
Your rating has been added! The average rating is now: {{data}}
</div>
</section>