<section>
<h1>Search For Tea</h1>
<div class="overview-cont">
<a href="/finder" class="tan-box"><div class="tea-name">Tea Finder</div>
<p>Choose your preferences and get suggestions.</p></a>
<a href="/medium" class="tan-box"><div class="tea-name">Random Tea</div>
<p>Let fate choose your next cup!</p></a>
<a href="/low" class="tan-box"><div class="tea-name">Tea By Mood</div>
<p>There's a tea for every emotion.</p></a>
</div>
</section>