:root {
    --inria: "Inria Serif", serif;
    --inter: "Inter", sans-serif;
    --red: #582F0E;
    --green: #656D4A;
    --dk-green: #333D29;
    --tan: #D4C7B0;
    --white: #fff;
    --tan-trans: rgba(212, 199, 176, .7);
    --green-trans: rgba(101, 109, 74, .2)
}


h1, h2 {
    font-family: var(--inria);
    color: var(--dk-green);
    font-weight: 400;
}

h1 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-family: var(--inter);
}

a {
    text-decoration: none;
}

body {
    font-family: var(--inter);
    margin: 0;
    color: var(--dk-green);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

section {
    max-width: 1200px;
    margin: auto;
    padding: 40px 60px;
}

header {
    background-color: var(--green);
    padding: 20px 60px;
}

.logo-title a {
    color: var(--white);
    font-family: var(--inria);
    font-size: 45px;
}

.header-cnt {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

nav a:hover {
    color: var(--tan);
}

.finder-link {
    background-color: var(--tan);
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--dk-green);
}

.finder-link:hover {
    background-color: var(--red);
    color: var(--white);
}

/* Hamburger Menu */
.mobile-nav {
    overflow: hidden;
    position: relative;
}
.mobile-nav #menuLinks {
    display: none;
}
#menuLinks a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    line-height: 2.0;
}

#menuLinks a:hover {
    color: var(--tan);
}

#menuLinks {
    margin-top: 10px;
}

.hamburger-icon i {
    color: var(--white);
    font-size: 20px;
}

.hamburger-icon i:hover {
    color: var(--tan);
}


@media only screen and (max-width: 1024px) {
    .desktop-nav {
        display: none;
    }

}

@media only screen and (min-width: 1024px) {
    .mobile-nav {
        display: none;
    }
}

/* Homepage Hero */
.hero-content {
    position: relative;
}

.hero-img {
    border-bottom: 20px solid var(--green);
}

@media only screen and (max-width: 1024px) {
    .hero-txt {
        padding: 40px 60px;
        background-color: var(--green-trans);
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .hero-txt {
        background-color: rgba(255,255,255,.75);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        text-align: center;
        width: 20%;
        padding: 3% 5%;
        border-radius: 10px;
    }
}

a.red-btn {
    display: inline-block;
    background-color: var(--red);
    padding: 13px 29px;
    border-radius: 10px;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

a.red-btn:hover {
    background-color: var(--dk-green);
}

section.homepage-boxes {
    max-width: 1000px;
}

/* Teas Page */
.all-teas-cnt {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media only screen and (max-width: 800px) {
    .all-teas-cnt {
        flex-direction: column;
    }

    .tea-cnt {
        width: 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 800px) {
    .tea-cnt {
        width: 25%;
        padding-left: 30px;
        margin-bottom: 20px;
    }
}

.breadcrumbs a {
    text-transform: uppercase;
    color: var(--dk-green);
    font-weight: 200;
    text-decoration: none;
    font-size: 14px;
}

.breadcrumbs {
    font-weight: 200;
    margin-bottom: 30px;
}

.tea-name {
    text-transform: uppercase;
    color: var(--red);
    font-weight: 600;
    letter-spacing: 1px;
}

.tea-name-margin {
    margin: 20px 0 10px 0;
}

.tea-info {
    padding-left: 20px;
    line-height: 1.8;
}

.tea-info-type {
    font-weight: 500;
}

/* Tan Boxes */
.tan-box {
    background-color: var(--tan-trans);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    color: var(--dk-green);
    padding: 40px 60px;
}

.tan-box:hover {
    background-color: var(--tan);
}

.overview-cont {
    margin: 40px 0;
    display: flex;
    gap: 40px;
}

@media only screen and (min-width: 1024px) {
    .types-box {
        flex-basis: 25%;
    }
    .homepage-box {
        flex-basis: 33%;
        padding: 60px;
    }
}

@media only screen and (max-width: 1024px) {
    .overview-cont {
        flex-direction: column;
    }
    .types-box {
        flex-basis: 100%;
    }
}

/* Forms */
.steps {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}

.questions {
    color: var(--red);
    font-weight: 500;
    margin-bottom: 10px;
}

.random_tea label {
    display: inline-block;
    margin: 20px 5px 10px 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 7px 4px;
}

input[type="text"], textarea {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

input[type="date"] {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--inter), serif;
}

button[type="submit"] {
    display: inline-block;
    background-color: var(--tan);
    padding: 13px 29px;
    border-radius: 10px;
    color: var(--dk-green);
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

button[type="submit"]:hover {
    background-color: var(--red);
    color: var(--white);
}

select {
    background-color: var(--white);
    border: 4px solid var(--white);
    border-radius: 4px;
    color: var(--dk-green);
    font-weight: 600;
    margin-right: 10px;
}

.random_tea {
    background-color: var(--green-trans);
    padding: 40px;
    font-weight: 600;
    border-radius: 20px;
    width: 80%;
    margin-top: 20px;
}

.warning {
    font-size: 14px;
    font-style: italic;
}

.results-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

i {
    color: var(--red);
    margin: 0 5px;
    cursor: pointer;
}

i:hover {
    color: var(--dk-green);
}

@media print {
    .no_print {
        display: none;
    }
    i {
        visibility: hidden;
    }
}

/* Moods */
.mood-result {
    font-size: 20px;
}

/* Footer */
footer {
    background-color: var(--dk-green);
    color: var(--white);
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
}