<section>
<h1>Caffeine Levels</h1>
<p class="warning"><strong>NOTE:</strong> Caffeine levels are general estimates. Tea caffeine content varies depending on brand, batch and how much tea is used.</p>
<div class="overview-cont">
<a href="/high" class="tan-box"><div class="tea-name">High</div>
<p>Teas excellent for starting your day.</p></a>
<a href="/medium" class="tan-box"><div class="tea-name">Medium</div>
<p>Ideal for those who want an energy boost.</p></a>
<a href="/low" class="tan-box"><div class="tea-name">Low</div>
<p>Teas with only a small touch of caffeine.</p></a>
<a href="/none" class="tan-box"><div class="tea-name">Caffeine-Free</div>
<p>Naturally caffeine-free herbal infusions.</p></a>
</div>
</section>