<div class="hero-content">
<img class="hero-img" width="100%" src="/images/HomepageHero.jpg" alt="Tea Pot and Cups">
<div class="hero-txt">
<h1>Find Your Cup</h1>
<p>Not sure what tea to try next? Looking for a certain tea? Unlock your next cup using our Tea Finder to explore our tea database.</p>
<a class="red-btn" href="/finder">Get Started</a>
</div>
</div>
<section class="homepage-boxes">
<div class="overview-cont">
<a href="/flavors" class="tan-box homepage-box"><div class="tea-name">Flavor Guide</div>
<p>Explore tea by flavors: malty, grassy, floral and more.</p></a>
<a href="/caffeine" class="tan-box homepage-box"><div class="tea-name">Caffeine Levels</div>
<p>Find a tea by caffeine content: high, medium, low or none.</p></a>
<a href="/types" class="tan-box homepage-box"><div class="tea-name">Tea Types</div>
<p>Discover tea by type: green, black, white, oolong, pu'er or herbal.</p></a>
</div>
<div class="overview-cont">
<a href="/moods" class="tan-box homepage-box"><div class="tea-name">Tea By Mood</div>
<p>Receive a tea suggestion based on how you're feeling.</p></a>
<a href="/ratings" class="tan-box homepage-box"><div class="tea-name">Rate Teas</div>
<p>Whether you loved or hated your last cup, share your rating.</p></a>
<a href="/message" class="tan-box homepage-box"><div class="tea-name">Leave a Message</div>
<p>Sit back, enjoy a cup of tea, and share your thoughts.</p></a>
</div>
</section>