<section>
<h1>Message Board</h1>
<p>Sit back, enjoy a cup of tea, and share your thoughts in this public message board!</p>
<form action="/message_submit" method="post">
<div class="random_tea">
<label for="tea">Select the tea you are drinking:</label><br>
<select name="tea" id="tea">
{{#each data}}
<option value="{{this.tea_name}}">{{this.tea_name}}</option>
{{/each}}
</select>
<p><label for="date">Enter the date of entry:</label><br>
<input type="date" id="date" name="date">
</p>
<p>
<label for="name">Your name:</label><br>
<input type="text" id="name" name="name">
</p>
<p>
<label for="entry">Your entry:</label><br>
<textarea id="entry" name="entry" rows="4" cols="100"></textarea>
</p>
</div>
<p><button type="submit">Submit</button></p>
</form>
</section>