<section>
<h1>Tea Types</h1>
<div class="overview-cont">
<a href="/green" class="tan-box types-box"><div class="tea-name">Green Tea</div>
<p>Grassy, bright and soothing, this light tea type will calm and uplift.</p></a>
<a href="/black" class="tan-box types-box"><div class="tea-name">Black Tea</div>
<p>Start your day with a cup of this bold tea or savor with an afternoon treat. </p></a>
<a href="/white" class="tan-box types-box"><div class="tea-name">White Tea</div>
<p>Light and delicate, white tea is ideal for those who prefer a mellow flavor.</p></a>
</div>
<div class="overview-cont">
<a href="/oolong" class="tan-box types-box"><div class="tea-name">Oolong Tea</div>
<p>This complex tea comes in a range of flavors that any tea love will enjoy.</p></a>
<a href="/puer" class="tan-box types-box"><div class="tea-name">Pu'er</div>
<p>An aged tea, pu'er has a unique, fermented and distinct taste.</p></a>
<a href="/herbal" class="tan-box types-box"><div class="tea-name">Herbal Infusions</div>
<p>Herbal infusions, or tisanes, are perfect for late night sipping.</p></a>
</div>
</section>